body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      border: 2px solid black;
      padding: 20px;
    }

    h1 {
      text-align: center;
    }
    
 .form-container {
    border: 2px solid black;
    padding: 20px;
  }
